.section {
  /* width: 95%; */
  /* padding: 1.25em 0; */
  /* margin: 0 auto; */
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0.5%;
  padding-top: 2%;
  padding-bottom: 1%;
  min-height: 500px;
  background: #eee;
  /* border-top: 1px solid #bbb; */
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  display: block;
}