.flex-container {
  height: auto;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-item {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 120px;
  height: 300px;
  margin-top: 10px;
  margin-right: 35px;
  margin-left: 35px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  background-color: #eee;
  /* border: solid 3px #dedede; */
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-size: 0.6em;
  text-align: center;
}

.browserSubText {
  font-size: 14px;
}

.supportedBrowsers {
  margin-left: 200px;
  width: 850px;
}
